*ise.ace
*ise.ecf
*ge.ace
*ge.xace
*se.ace
*ve.esd
*ve.xace
pretty_printer[0-9]*
pretty_printer*.[^e]*
pretty_printer*.e?*
libpretty_printer*.dll
EIFGEN*
preferences.wb
vc*.pdb
cecil.se
vec*.xcp
Result.out
eCluster
eProject
