*.log
*ise.ace
*ise.ecf
*ge.ace
*ge.xace
*se.ace
*ve.esd
*ve.xace
pcretest[0-9]*
pcretest*.[^e]*
pcretest*.e?*
libpcretest*.dll
EIFGEN*
preferences.wb
vc*.pdb
cecil.se
vec*.xcp
Result.out
eCluster
eProject
