html, body {
  background-color: white;
  color: black;
}

address {
 font-size: smaller;
}

hr {
  height: 1;
}

img {
  border: none;
}

pre.programlisting {
  margin-left: 2em;
}


/* Format DocBook code tags as Eiffel code */

span.classname {
  color: #008080;
}

span.returnvalue {
  color: #008080;
}


/* Tags of our own invention */

span.constructname {
}

span.featurename {
  color: #008080;
}

/* Normal table */

table {
  empty-cells: show;
  border-spacing: 0;
  border-collapse: collapse;
  margin-left: 2em;
  margin-right: 2em;
}

table tbody tr td {
  padding-right: 1em;
  border: 1pt solid black;
}

table thead tr td {
  border: 1pt solid black;
}

/* Documentation's footer is formatted with a table */
table.footer {
  border: none;
  width: 100%;
}

table.footer tbody tr td {
  border: none;
}

/* Documentation's header is formatted with a table */
table.header {
  border: none;
  width: 100%;
}

table.header tbody tr td {
  border: none;
}
