-- Command lines

cc: $ZIG cc $cflags_threads $cflags_common $cflags $includes $includes_gc -c $c
link: $ZIG cc $lflags_threads $lflags_common $lflags -o $exe $objs $libs

-- File extensions

#ifdef EIF_WINDOWS
obj: .obj
exe: .exe
#else
obj: .o
exe:
#endif

-- Variables

-- For `-fno-strict-aliasing`, this is recommended when using the Boehm GC.
-- 
-- For `-fno-sanitize=undefined`, see https://clang.llvm.org/docs/UndefinedBehaviorSanitizer.html
-- We don't want an exception raised in case of integer overflow.
--
-- Note: The `-fsanitize=` argument must also be provided when linking, in order to link
-- to the appropriate runtime library. See https://clang.llvm.org/docs/UsersManual.html.
--
cflags_common: -Wno-unused-value -Wno-deprecated-declarations -fno-strict-aliasing -fno-sanitize=undefined
lflags_common: -fno-strict-aliasing -fno-sanitize=undefined

#ifdef EIF_WORKBENCH
cflags: -g
lflags: -g
#else
cflags: -Os -DNDEBUG
lflags: -Os -DNDEBUG
#endif

#ifdef GE_USE_BOEHM_GC
includes_gc: -I$BOEHM_GC/include
#else
includes_gc:
#endif

#ifdef GE_USE_THREADS
cflags_threads: -pthread
lflags_threads: -pthread
#else
#ifdef GE_USE_BOEHM_GC
cflags_threads: -pthread
lflags_threads: -pthread
#else
cflags_threads:
lflags_threads:
#endif
#endif

