-- Command lines
cc: gcc $cflags $includes  $gc_includes -c $c
link: gcc $lflags -lm -o $exe $objs $libs $gc_libs

-- File extensions
obj: .o
exe:

-- Variables
#ifdef EIF_WORKBENCH
cflags: 
lflags:
#else
cflags: -O2
lflags:
#endif
#ifdef EIF_BOEHM_GC
gc_includes: -I$BOEHM_GC/include -I$BOEHM_GC/include/gc
gc_libs: $BOEHM_GC/lib/libgc.a
#else
gc_includes:
gc_libs:
#endif
