-- Command lines
cc: tcc $cflags $includes -c $c
link: tcc $lflags -lm -o $exe $objs $libs

-- File extensions
obj: .o
exe:

-- Variables
#ifdef EIF_WORKBENCH
cflags: 
lflags:
#else
cflags: -O2
lflags:
#endif
