*ise.ace
*ise.ecf
*ge.ace
*ge.xace
*se.ace
*ve.esd
*ve.xace
formatter[0-9]*
formatter*.[^e]*
formatter*.e?*
libformatter*.dll
EIFGEN*
preferences.wb
vc*.pdb
cecil.se
vec*.xcp
Result.out
eCluster
eProject
