*ise.ace
*ise.ecf
*ge.ace
*ge.xace
*se.ace
*ve.esd
*ve.xace
eiffel_scanner[0-9]*
eiffel_scanner*.[^l]*
eiffel_scanner*.l?*
libeiffel_scanner*.dll
EIFGEN*
preferences.wb
vc*.pdb
cecil.se
vec*.xcp
Result.out
eCluster
eProject
