TESTGEN
xcompile.log
*ise.ace
*ise.ecf
*ge.ace
*ge.xace
*se.ace
*ve.esd
*ve.xace
xconcat1[0-9]*
xconcat1*.[^e]*
xconcat1*.e?*
libxconcat1*.dll
EIFGEN*
preferences.wb
vc*.pdb
cecil.se
vec*.xcp
Result.out
eCluster
eProject
